
.back-to-top {
  padding: 8px;
  text-decoration: none;
  margin-left: 85%;
  padding-top: 8rem;
  text-decoration: none;
  color: rgba(19, 89, 5, 4);
}

.back-to-top:hover{
  color:#fff;
}

.arrow {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-top: 2px solid #888;
  border-right: 2px solid #888;
  transform: rotate(-45deg);
  margin-left: 0.50rem;
}