.blog-content{
  background-color: rgba(211, 211, 211, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 6rem;
  margin-bottom: 6rem;
  padding-left: 25px;
}


h1 {
  font-size: 2rem;
  text-align: left;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 2px;

}

h2 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 5px;

}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

li {
  margin-bottom: 5px;
}