.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.footer p {
  font-size: 14px;
  color: #fff;
  letter-spacing: 1px;
  
}



/* Media for Footer Styles */

@media (max-width: 768) {
  .footer p {
    font-size: 12px;
  }
}