.hero {
  display: flex;
  justify-content:center;
  margin-top:6%;
  flex-wrap: wrap;
  align-items: center;
  
}
.hero-img-container{
  display:flex;
  margin: auto;
  padding: 0.75rem;
  justify-content: center;
  
}

.hero-img {
  margin: auto;
  padding: 0.75rem; 
  border-radius: 10px; 
  max-width: 100%;
  height: auto;
  
}

.content {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 70%;
}

.inner-content {
  text-align: center;
  max-width: 780px;
  margin: 0 auto;
}

.inner-content h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  white-space: nowrap;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.inner-content p {
    background-color: rgba(211, 211, 211, 0.5) ;
    padding: 20px;
    margin-bottom: 4rem;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
    text-indent: 22px;
    letter-spacing: 1.5px;
}
.divider{
  margin-bottom: 3rem;
}

/* Styles for Blog section */
.blog-section {
  background-color: rgba(211, 211, 211, 0.5);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 6rem;
  max-width: 1020px;
  margin: auto;

}
.blog-section h4 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.9);

}

.blog-section ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;

}

.blog-section li {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba (0,0,0, 0.01);
  padding: 10px;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items:center;
  

}
.blog-section li a {
  text-decoration: none;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:rgba(0, 0, 0, 0.6);
  font-size: 1.2rem;
}
.blog-section li a:hover{
  color: #333;
}

/* Media query styles for blog section  */

@media only screen and (max-width: 767px) {
  .content {
    margin-top: 1rem;
  }

  .inner-content {
    width: auto; 
    padding: 0 20px;
  }

  .inner-content h1 {
    font-size: 6vw;
  }

  .inner-content p {
    font-size: 14px;
    text-align: center;
  }
}


@media only screen and (max-width: 500px) {
  .inner-content h1 {
    font-size: 6.5vw;
  }

  .inner-content p {
    font-size: 12px;
    text-align: center;
  }
}

