.page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.page .back-home, .page .back-to-top {
  padding: 8px; 
  text-decoration: none;
  color: rgba(19, 89, 5, 2); 

}

.page .back-to-top:hover,
.page .back-home:hover {
  color: #fff; 
  text-decoration: underline ;
}