.hero {
  display: flex;
  justify-content:center;
  margin-top:6%;
  flex-wrap: wrap;
  align-items: center;
}

.hero-img {
  max-width: 750px;
}

.hero-img-container {
  margin: auto;
  padding: 0.75rem; 
  border-radius: 10px; 
}


.content {
 margin-top: 2rem;
 display: flex;
 justify-content: center;
 align-items:center;
 width: 100%;
 height:auto;
}

.inner-content{
  text-align: center;
  width:90%;
  max-width: 600px;
  margin: 0 auto;
}

.inner-content h1{
  font-size: 3em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}

.inner-content p{
  font-size: 18px;
  color:#fff;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: left;
  font-family: Arial, sans-serif;
  letter-spacing: 0.5px;
  text-indent: 1em;
}

.blog-section {
  margin-top: 2rem;
}

#blogs a:hover {
  color: yellow;
}

.blog-post {
  text-decoration: none;
}

