
   /* navbar.css */

   .navbar {
    display: flex;
    justify-content: space-between;
    align-items:center;
   
    
  }

  .logo{
    font-family: cursive, sans-serif;
    font-size: 1.6rem;
    padding-left:1rem;
    letter-spacing: 0.1rem;
    font-weight:bold;
    color: #333;
  
  }
  
  .navbar-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    margin-left: auto;
  }
  
  .navbar-nav a {
    color: #333;
    text-decoration: none;
    margin-right: 1rem;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    
  }
  .navbar-nav a:hover{
    color:#666;
  }
  
  
  .navbar-nav a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.50px;
    bottom: 0;
    left: 0;
    background-color: green;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }

  a:hover::after{
    visibility: visible;
    transform: scale(1);
  }


  

/* CSS code for screens with a maximum width of 768px */
@media (max-width: 768px) {
  .navbar-toggler {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;

  }
  #navbarNav ul li a:hover {
    background-color: rgba(19, 89, 5, 4);
    padding: 0.50rem;
  }

  .navbar-toggler:focus {
    outline: none;
  }

  .navbar-toggler-icon {
    width: 30px;
    height: 30px;
  }

  .collapse.show {
    display: block;
  }

  .navbar-collapse {
    display: none;
    text-align: center;
  }

  .navbar-nav {
    margin-top: 10px;
  }

  .nav-item {
    margin-top: 8px;
  }
}

/* THis will target screens that are smaller than the Bootstrap "lg" breakpoint (768px) */

@media (max-width: 767.98px) {
  .navbar .container {
    width: 100%;
  }
}


/* smartphones and smaller devices */
@media (max-width: 576px) {
 .navbar {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;
 }

 .navbar-toggler-icon {
  flex: 0 0 auto;
 }

 .logo {
  flex: 2 0 auto;
  order: 0;
  margin-left: 0;
 }
}