
   /* navbar.css */

   .navbar {
    display: flex;
    justify-content: space-between;
    align-items:center;
    
    
  
  }
  .logo{
    font-family: cursive, sans-serif;
    font-size: 1.6rem;
    padding-left:1rem;
    letter-spacing: 0.1rem;
    color: #333;
  
  }
  
  .navbar-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    margin-left: auto;
  }
  
  .navbar-nav a {
    color: #333;
    text-decoration: none;
    margin-right: 1rem;

  
  }
  .navbar-nav a:hover {
    color: #333;
    text-decoration: none;
    
  }
  

/* CSS code for screens with a maximum width of 768px */
@media (max-width: 768px) {
  .navbar{
    padding: 0.25rem 3rem;

  }
  .navbar-toggler {
    border: none;
    background: transparent;
  }

  .navbar-toggler:focus {
    outline: none;
  }

  .navbar-toggler-icon {
    width: 30px;
    height: 30px;
  }

  .collapse.show {
    display: block;
  }

  .navbar-collapse {
    display: none;
    text-align: center;
  }

  #navbar-nav {
    margin-top: 10px;
  }

  .nav-item {
    margin-top: 8px;
  }
  
  /* Hover effect for dropdown menu links */
  .navbar-nav .nav-item .dropdown-menu a.nav-link:hover {
    background-color: lightgray;
    color: white;
  }
}