   /* navbar.css */

   .navbar {
    display: flex;
    justify-content: space-between;
    color:#ffa500;
    align-items:center;
    margin-top: 3rem;
    margin-left:2rem;
   
  }
  .logo{
    font-size: 1.4rem;
    margin-left:1rem;
   
  }
  
  .navbar-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
  }
  
  .navbar-links a {
    padding-left: 1rem;
    color: #fff;
    margin-right: 1.4rem;
    text-decoration: none;

  
  }
  .navbar-links a:hover {
    color: #ffa500;
    text-decoration: none;
    
  }
